link(href="/libs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet")
link(href="/css/style.css" rel="stylesheet")
script(src="/libs/jquery/dist/jquery.min.js")
script(src="/libs/bootstrap/dist/js/bootstrap.min.js")

//- umeditor
link(href="/umeditor/themes/default/css/umeditor.css" rel="stylesheet")
script(src="/umeditor/umeditor.config.js")
script(src="/umeditor/umeditor.js")
script(src="/umeditor/lang/zh-cn/zh-cn.js")

//- 实例化umeditor
script(src="/js/umeditor.js")

//- bootstrap time picker
link(href="/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet")
script(src="/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js")
script(src="/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.fr.js")


//-自动分页
link(href="/css/mricode.pagination.css" rel="stylesheet")
script(src="/js/mricode.pagination.js")